<table>
    <th>Name </th>
    <th> Year completed </th>
    <tr>
        <% @landmarks.each do |landmark|%>

            <li>
            <p><a href='/landmarks/<%= landmark.id %>'><%= landmark.name %></a></p>
            <p> <%= landmark.year_completed %> </p>
            </li>
    </tr>
    <%end%>
</table>
<a class="button" href="/landmarks/new">Create new landmark</a>
<a class="button" href="/figures">View Figures</a>
<a class="button" href="/">Home</a>
